<div id="<%= dom_id employee %>">
  <div>
    <strong>Name:</strong>
    <%= employee.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= employee.email %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= employee.role %>
  </div>

  <div>
    <strong>Business:</strong>
    <%= employee.business_id %>
  </div>

  <div>
    <strong>Password digest:</strong>
    <%= employee.password_digest %>
  </div>

</div>
