<p style="color: green"><%= notice %></p>

<%= render @qr_code %>

<div>
  <%= link_to "Edit this qr code", edit_qr_code_path(@qr_code) %> |
  <%= link_to "Back to qr codes", qr_codes_path %>

  <%= button_to "Destroy this qr code", @qr_code, method: :delete %>
</div>
