<%= form_with(model: device_fingerprint) do |form| %>
  <% if device_fingerprint.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(device_fingerprint.errors.count, "error") %> prohibited this device_fingerprint from being saved:</h2>

      <ul>
        <% device_fingerprint.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fingerprint_value, style: "display: block" %>
    <%= form.text_field :fingerprint_value %>
  </div>

  <div>
    <%= form.label :last_seen_at, style: "display: block" %>
    <%= form.datetime_field :last_seen_at %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :student_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
