<div id="<%= dom_id activity %>">
  <div>
    <strong>Name:</strong>
    <%= activity.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= activity.description %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= activity.is_active %>
  </div>

  <div>
    <strong>Business:</strong>
    <%= activity.business_id %>
  </div>

</div>
